.product-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  border-top: 1px solid #c0c0c1;
  padding-top: 20px;
}

.product-image {
  display: grid;
  grid-column: 1fr;
  max-width: 100%;
  min-width: 150px;
  height: auto;
}

.details-container {
  display: grid;
  grid-template-rows: 0fr 1fr 1fr 1fr;
  min-width: 100px;
}

.title {
  text-align: left;
}

.info-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(15px, 1fr));
  font-size: 12px;
  color: #8d8d8d;
  text-align: start;
  line-height: 0.5;
}

.total {
  text-align: right;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .total {
    font-size: 0.9em;
  }
}
