.address-container {
  background-color: #fff;
  padding: 40px;
  margin: 0 10px;
}

.address-type {
  position: static;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.15;
  margin-left: 10px;
}

.address-form {
  display: block;
  margin-top: 0em;
}

.user-gender {
  display: flex;
}

.gender-options {
  width: 110px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  display: flex;
  border: 1px solid #eaeae8;
  border-radius: 0;
  margin: 25px 10px;
  list-style-type: none;
  padding: 0;
}

.gender-option-1,
.gender-option-2 {
  float: left;
  width: 50%;
  z-index: 1;
}

.gender-option-active {
  background-color: #f4f4f5;
}

.user-name,
.user-city-info {
  display: flex;
  flex-wrap: nowrap;
}

.user-firstname,
.user-lastname,
.address-info {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.user-address {
  display: flex;
  flex-direction: column;
}

label {
  color: #acacad;
}

.input-element {
  padding: 7px 40px 6px 12px;
  margin: 0;
  height: 30px;
  background-repeat: no-repeat;
  background-color: #f4f4f5;
  border-radius: 0;
  border: 1px solid #f4f4f5;
  outline: none;
}

.button {
  background-color: #1aa0aa;
  color: white;
  cursor: pointer;
  padding: 5px 4px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #1aa0aa;
  font-size: 18px;
  font-weight: 470;
  text-transform: uppercase;
  grid-column: 1/-1;
  width: 100%;
  height: 30px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
  .address-container {
    width: 80vw;
    padding: 30px 20px;
  }

  .address-type {
    font-size: 1.5em;
    margin: 0px 0px 5px 0px;
  }

  .gender-options {
    height: 33px;
    line-height: 30px;
    width: 80px;
    margin: 10px 0px;
  }

  .gender-option-1,
  .gender-option-2 {
    font-size: 14px;
  }

  label {
    font-size: 14px;
  }

  .input-element {
    height: 15px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .user-name,
  .user-city-info {
    flex-direction: column;
  }

  .user-firstname,
  .user-lastname,
  .address-info {
    padding: 0px;
  }

  .error-span {
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 900px) {
  .address-container {
    width: 80vw;
    padding: 30px 20px;
  }

  .user-city-info input {
    width: 77.7%;
  }
}

@media only screen and (min-device-width: 900px) {
  .address-container {
    /* width: 70%; */
  }
}
